{% extends 'base.html' %}

{% load static %}

{% block title %}Sign in{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static "signin.css" %}">
{% endblock %}

{#{% block navbar %}{% endblock %}#}

{% block content %}
    <div class="container text-center">
    <form class="form-signin" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <img class="mb-4" src="{% static "android-chrome-192x192.png" %}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

        {% if next %}
            {% if user.is_authenticated %}
                <div class="alert alert-danger">Your account doesn't have access to this page. To proceed,
                    please login with an account that has access.
                </div>
            {% else %}
                <div class="alert alert-info">Please login to see this page.</div>
            {% endif %}
        {% endif %}

        {% if form.errors %}
            <div class="alert alert-danger">Your username and password didn't match. Please try again.</div>
        {% endif %}

        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required
               autofocus>

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <input type="hidden" name="next" value="{{ next }}">
        <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
    </form>
    </div>
{% endblock %}