{% extends "the_list/base.html" %}

{% block title %}Add item{% endblock %}

{% block content %}
    <div class="row justify-content-center align-content-center" style="height: 70vh">
        <div class="col-5">
            <div class="border rounded shadow bg-white p-3">
                <form action="{% url 'the_list:save_item' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="item_name">What do you want to cook?</label>
                        <div class="input-group">
                            <input id="item_name" name="item_name" type="text" class="form-control"/>
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary text-white">Add</button>
                            </div>
                        </div>
                    </div>
                    <small class="form-text text-muted">Make it good or suffer the consequences</small>
                </form>
            </div>
        </div>
    </div>
{% endblock %}