{% extends 'base.html' %}

{% block title %}Blog{% endblock %}

{% block content %}
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome to Kooking with Kevin!</h1>
      <p class="lead">A bunch of nerds haphazardly cooking delicious food.</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-10 border-right">
        <div class="row">
          <div class="col">
            <p class="lead">Featured post</p>
            <h3>The gang makes embarrasses the French</h3>
            <p class="font-italic text-muted">We tried to make French onion soup but then everything went south</p>
            <div class="d-flex justify-content-between">
              <a href="#">&gt; Read article</a>
              <p>By Camille Chow</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}